.header{
	text-align: center;
	font-style:bold;
	font-family:agency FB;
	background-color: #00FFFF;
	margin: 2px;
	padding: 5px;
	
}
.container h3{
	font-size:30px;
	text-align:center;
	font-family:forte;
}